# For transcription
faster-whisper
torch

# For API requests
requests

# For LLM integration
langchain
langchain-community
langchain-core
langchain-ollama

# For audio recording from microphone
sounddevice
scipy
numpy

# For Text-to-Speech
MeloTTS
nltk
eng-to-ipa